html, body, .videos-list-container{
    height: 100%;
    width: 100%;
}

.videos-list-container{
    display: flex;
    justify-content: flex-end;
}


.header-container {
    display:flex;
    position: relative;
    align-items: center;

}

.hum {
    background-color: grey;
    width: 30px;
    height: 3px;
    margin:6px 0
}

.header-container img{
    width: 40px;
    margin:5px;
    margin-left: 25px;
}

.title {
    margin-left: 1px;
    font-size: 20px;
    /* text-transform: uppercase; */
    vertical-align:top;
    text-align: center;
    padding: 0px;
    font-family: "Noto Sans";
}

.search { 
    /* position: fixed; */
    margin-left: 25%;
    border:2px solid lightgray;
    border-radius: 40px 0px 0px 40px ;
    height: 30px;
    width: 30%;
    font-size: larger;
    text-indent: 50px;
    background-size: 0px;
    transition: width 1.5s, margin-left 1.5s, background-size 1.5s;
}

.search:focus { 
    /* border:2px solid lightgrey; */
    outline: 1px solid lightblue;
    background-image: url('./assets/images/zoom.jpg'); /* URL to your search icon image */
    background-size: 50px; /* Set the size of the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: 1px center; 
    width: 32%;
    margin-left: 0%;
}

.search-button{
    background-color: white;
    border: 2px solid lightgrey;
    height: 35px;
    border-left: none;
    margin-left: 0;
    border-radius: 0px 40px 40px 0px;
}

.search-button:active{
    background-color: lightblue;
}


.header-container .bell-icon {
    position:absolute;
    top:2px;
    right: 15px;
    opacity: 0.45;
    width: 40px;
    height: 40px;
    background: url('bell-icon.png') center/cover no-repeat;
    transform-origin: center;
    cursor: pointer; 
    transition: transform 0.1s ease;
}

.bell-icon:active {
    transform: rotate(-10deg); 
}

hr {
    border: 1px solid lightgray;
}

body .video-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.video-container p {
    margin: 0%;
    margin-left: 5%;
    margin-top: 10px;
}

.video-container iframe{
    margin-left: 5%;
    width:90%;
    height:60%;
    border-radius: 30px;
}

.videos-list{
    width: 30%;
    margin-right:5% ;
}
.video-list-item {
    margin-right: 0%;
    display:flex;
    width: 100%;
    margin-bottom: 15px;

}

.list-video {
    width: 300px;
    margin-right: 5%;
    border-radius: 20px;
    height: 100px;
}

p {
    vertical-align: top;
    margin: 0;
    padding:0;
    font-family: "Noto Sans";
}





@media (max-width:700px){
    .search {
        margin-left: 15% ;
    }
    .search-button{
        margin-right: 15%;
    }
    .search:focus{
        margin-left: 10px;
    }
    .video-container iframe{
        margin-left: 0%;
        margin-right: 0%;
        width:100%;
        height: 100%;
        border-radius: 30px;
    }
    .videos-list-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .video-list-item {
        margin-bottom: 0%;
        margin-top: 5%;
    }
    .videos-list {
        width: 100%;
    }
    .video-list-item {
        width: 75%;
        margin-left: 12.5%;
    }
    .video-container {
        margin: 0px;
        padding: 0%;
    }
    .video-container p {
        margin-left: 5px;
        padding: 0px;
    }

}

@media (min-width:1500px) { 
    .video-container iframe{
        margin-left: 5%;
        width:90%;
        height:75%;
        border-radius: 30px;
    }
}
